.centered {
	display: block;
	margin: 0 auto;
	text-align: center; /* Used to center text */
}

.max-width-50-percent {
	max-width: 50%;
}

.homepage-feed {
	list-style: none;
	padding-top: 10px;
}

.homepage-feed h3 {
	margin-bottom: 0px;
}

.search-container {
	margin: 20px 0;
}

.search-container input {
	width: 100%;
	padding: 10px;
	font-size: 16px;
}

.search-container ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.search-container ul li {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.search-container ul li:last-child {
	border-bottom: none;
}